.list-social {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-inline-start: -1rem;
}

.list-social__link {
  position: relative;
  z-index: 1;
  background: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 4rem;
  height: 4rem;
  transition-property: color;
}

.list-social__link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border-radius: 50%; */
 background-image: url('https://cdn.shopify.com/s/files/1/0841/8371/2050/files/For-FB-Instagram-Button-background.gif?v=1704802044');
 background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (hover: hover) {
  .list-social__link:hover {
    color: rgb(var(--color-background));
  }

  .list-social__link:hover::after {
    transform: scale(1);
  }
}

.list-social__link .icon {
  margin: 0;
}
