.slider-mobile-gutter .product-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.product-grid {
  row-gap: 3rem;
}

.product-grid .grid__item {
  padding-bottom: 0;
}

@media screen and (min-width: 750px) {
  .product-grid {
    row-gap: 5.5rem;
  }
}
.quick-view__right .product__text a{
  display: none !important;
}
@media screen and (max-width: 749px) {
  .product-grid .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer__content-right{
    justify-content: center !important;
  }
  .footer__list-social{
    justify-content: center !important;
    padding-top:20%;
  }
}

@media screen and (hover: none) and (max-width: 1366px) {
  .product-grid:not(.grid--1-col-mobile) .card-information__button {
    height: 51px !important;
    width: 26%;
    
  }

  .product-grid:not(.grid--1-col-mobile) .card-information__button .button {
    width: 50px;
    min-height: 3.4rem;
  }

  .product-grid:not(.grid--1-col-mobile) .card-information .button--soldout {
    width: 100%;
    min-width: auto;
    min-height: 3.4rem;
  }
}