<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Group_37.png?v=1700472297" alt="" width="100%">
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>