<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    section {
        padding: 20px 0;
    }

  .sp1 .splide__slide{

    margin: auto 10px !important;
}
    .fr{
        position: absolute;
        bottom: 15%;
        left: 0;
    }
    .sf{
        position: absolute;
        bottom: 5%;
     right: 10px;
    }
    .fr1{
        position: absolute;
        top: 15%;
        left: 0;
    }
    .fr2{
        position: absolute;
        bottom: 15%;
        left: 0;
    }
    .sp1 .splide__slide img {
        display: block;
        
        width: 100%; /* Center the image horizontally */
      }
      
   
</style>


<section>
    <div class="">
        <div class="row">
            
            <div class="col-md-12">
                <div class="splide sp" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/jar-25_2_1.png?v=1700481861"
                                    alt="" width="100%">
                            </li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="">
        <div class="row"
            style="background-image: url('https://cdn.shopify.com/s/files/1/0841/8371/2050/files/New_Project_4.png?v=1700473301');background-size: cover;padding:5% 0;">
            <h1 class="pb-5 col-md-12 text-center mh" style="font-size: 50px;">SHOP PRODUCTS</h1>
            <div class="col-md-12 pb-4">
                <div class="splide sp1" aria-label="Splide Basic HTML Example" style="margin-left: 5%;max-width:95%;">
                    <div class="splide__track">
                        <ul class="splide__list" style="">
                            <li class="splide__slide"style="    position: relative;">
                                <h4>HAIR SHAMPOO</h4>
                                <h6>Geranium | Neroli | 200 mL</h6>
                                <p>Rs. 2000/-</p>
                                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/meraki-society-lifestyle-wellness-product-photography-natural-skincare-rebecca-goddard-rg-daily-blog-65_1.png?v=1700482414"
                                    alt=""height="90%" >
                                    <div class="sf"><img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Group_41.png?v=1700482209" alt="" width="160"></div>
                            </li>
                            <li class="splide__slide" style="    position: relative;">
                                <h4>HAIR SHAMPOO</h4>
                                <h6>Geranium | Neroli | 200 mL</h6>
                                <p>Rs. 2000/-</p>
                                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/il_570xN_1.png?v=1700482415"
                                    alt="" >
                                    <div class="sf"><img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Group_42.png?v=1700482210" alt="" width="160"></div>
                            </li>
                            <li class="splide__slide" style="    position: relative;">
                                <h4>HAIR SHAMPOO</h4>
                                <h6>Geranium | Neroli | 200 mL</h6>
                                <p>Rs. 2000/-</p>
                                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/lifestyle-beauty-product-photography-uk-66_1_1.png?v=1700482414"
                                    alt="" height="90%">
                                    <div class="sf"><img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Group_41.png?v=1700482209" alt="" width="160"></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="padding: 5% 0;">

            <div class="col-md-12 pt-4 pb-5">
                <h1 class="text-center"style="font-size: 50px;">DISCOVER OUR CARE ROUTINES</h1>
            </div>



            <div class="col-md-4" style="    position: relative;padding:30px;">
                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/il_570xN_3.png?v=1700476990" alt="" width="100%" style="    border-radius: 25px;border: 10px solid #E58558;">
               <div class="fr"><img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/red_button.png?v=1700477212" alt="" width="160"></div>
            </div>
            <div class="col-md-4" style="    position: relative;padding:30px;">
                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/meraki-society-lifestyle-wellness-product-photography-natural-skincare-rebecca-goddard-rg-daily-blog-65_3.png?v=1700476990" alt="" width="100%" style="    border-radius: 25px;border: 10px solid #FFCF61;">
               <div class="fr1"><img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Yellow_button.png?v=1700477212" alt="" width="160"></div>
            </div>
            <div class="col-md-4" style="    position: relative;padding:30px;">
                <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/lifestyle-beauty-product-photography-uk-66_2.png?v=1700476989" alt="" width="100%" style="    border-radius: 25px;border: 10px solid #A4CCE2;">
               <div class="fr2"><img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/blue_button.png?v=1700477212" alt="" width="160"></div>
            </div>

        </div>
    </div>

</section>
<section>
    <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Group_38.png?v=1700479482" alt="" width="100%">
</section>
<section>
    <img src="https://cdn.shopify.com/s/files/1/0841/8371/2050/files/Group_40.png?v=1700479605" alt="" width="100%">
</section>

<script>
    var splide = new Splide('.sp', {
        perPage: 1,
        rewind: true,
    });

    splide.mount();
    var splide = new Splide('.sp1', {
        perPage: 3,
        rewind: true,
        gap: '20px',
    });

    splide.mount();
</script>